<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Login</title>
</head>
<style>
    .wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	h1 {
		text-align: center;
	}
	body {
		padding-left: 6%;
        padding-top: 8%;
	}
</style>
<body>
	<!-- main -->
    <div class="main-w3layouts wrapper">
		<div class="title"><h1>WELCOME TO ARBORTRARY</h1></div>
		<div class="main-agileinfo">
			<div class="agileits-top">
				{% if messages %}
					<ul class="messages">    
    					{% for message in messages %}    
        					<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
   						{% endfor %}
					</ul>
				{% endif %}
				<form action="/user_login/" method="post">
					{% csrf_token %}
					<input class="text email" type="email" name="email" placeholder="Email" required="">
					<input class="text" type="password" name="password" placeholder="Password" required="">
					<div class="wthree-text">
						<div class="clear"></div>
					</div>
					<input type="submit" value="LOG IN">
				</form>
				<p>Don't have an Account? <a href="/"> Create one!</a></p>
			</div>
		</div>
	</div>
</body>
</html>