<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <style>
        body {
            padding: 2%;
            font-family: cursive;
        }
        p {
            text-align: right;
            font-size: 1.3rem;
        }
    </style>
</head>
<body>
    <p class="text-right"><a href="logout">Log Out</a></p>
    <h1>Success! Welcome,  {{user.first_name}}!</h1>
</body>
</html>